
body {
  background-color: rgb(197, 208, 208);
}


.logo {
  
  width: 350px;
  height:250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.nav {
  display: flex;
  flex-direction: column-reverse;
  background-color: rgb(93, 142, 125);
  border: black solid 3px;
  border-radius: 3px;
  width: 100vw;
  margin-left: 3px;
  margin-right: 3px;
  
  
}

.navlinks {
  display: flex;
  flex-direction:row;
  justify-content: center;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_links li a {
  display: flex;
  flex-direction: row;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  font-family: 'Raleway';
  font-size: 18px;
  color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
marker {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  height: 40px;
}

.navlogo {

  display: block;
  margin: auto;
  
}





.signuppage {

  display: flex;
  justify-content: center;
  align-items: center;
 border: black solid 5px;
} 

.landingpage {
  background-color: rgb(93, 142, 125);
  border: black solid 3px;
  border-radius: 3px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}



.makepost {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

} 




.landingPageTitle {
  
  font-size: 60px;
  text-align: center;
  
}

.landingPageSubtitle {
  font-size: 40px;
  text-align: center;
  font-family:fantasy;
  font-style: italic;
  
}
.signinform {

  display: flex;
  flex-direction: column;
  border-radius: 3px;
  font-family: 'Raleway';
  font-size: 14px;
  cursor: pointer;
  height: 20px;
  padding: 5px;
  width: 300px;
  font-size: 30px;
  margin:auto;
  justify-content: center;
}



.form-box  {
  border-radius: 3px;
  font-family: 'Raleway';
  font-size: 14px;
  cursor: pointer;
  height: 20px;
  padding: 5px;
  width: 400px;
  font-size: 25px;
  margin:auto
}

.textarea {
  border-radius: 3px;
  font-family: 'Raleway';
  font-size: 14px;
  cursor: pointer;
  width: 400px;

}

label {
  font-size: 25px;
}


.login-button, .signup-button {
  width: 80px;
  height: 50px;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Zilla Slab', serif;
}


.comiclist {

  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
 
}

.comic-card {

  padding:25px;
}

.comiclistdetails {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  justify-content: space-between;
  align-items: baseline;
  padding:5px;
  background-color:rgb(93, 142, 125) ;
  border: black solid 3px;
  border-radius: 3px;
}

.comiclistlabel {
  font-weight: bold;
  font-size: 18px;
}

.comictitle {
  text-align: center;
  text-decoration: underline;

}

.comiclist-image {

  border: black solid 3px;
  border-radius: 3px;
  
}

.blog-wrapper {
  
  padding:25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  background-color: rgb(93, 142, 125);
  border: black solid 3px;
  border-radius: 3px;
  padding:40px;
}


.blogtitle {
  
  font-size: 30px;
  color: white;
}

.blogfeed {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:40px;
  margin: 40px;
}